.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  display: block;
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
}

.form__input {
  display: block;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  margin-top: 8px;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  height: 60px;
  text-indent: 20px;
  border: 1px #838383;
}

.form__label_type_datetime-local {
  text-indent: 0;
}

.form__input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  opacity: 1;
  background-color: #2f80ed;
  color: white;
  height: 60px;
  width: 385px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  margin: 0px auto 32px;
  border: none;
}

.form__button:hover {
  opacity: 70%;
  transition: 2s;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}
