.form {
  max-width: 385px;
}
.form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0;
  padding: 0;
  margin: none;
}

.form__label {
  margin: 0 auto 8px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
}

.form__input {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  align-self: center;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
  width: 385px;
  margin-bottom: 32px;
  height: 60px;
  box-sizing: border-box;
}

.form__input::placeholder {
  line-height: 30px;
  color: #838383;
}

.form__button {
  width: 385px;
  margin-bottom: 32px;
  padding: 0;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  background-color: #2f80ed;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  color: #fff;
  border: 0;
  border-radius: 4px;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.form__label_checkbox {
  display: flex;
}
